.parent{
  display:grid;
  background-color: black;
  grid-template-rows:50px ;
  

}
.child{
  background-color: black;
  color:white;
  font-style:bold;
  text-decoration-thickness: 100%;
  word-spacing: 15px;
  margin-left: 50px;
  font-size: xx-large;
}
<p>Domain Names</p><br>
                 <h1>Get a.com for $<br>1.00*/1styr.</h1><br>
                 <p1>Grab the world's most popular domain.</p1><br>
                 <input type="button" name="click"value="Get it Now"><br>
                 <br>
                 <p2>3-year purchase requried. Addition year(s)$1,299.00*</p2>
                 </div>
              </div>
          </div>
        </div>